html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/*------------------------------------- general */

body {
  color: white;
  background-color: #212228;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 70px;
}

.distributeHorizontal {
  justify-content: space-between;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

/*------------------------------------- title */

.title {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  text-align: center;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

/*------------------------------------- icons */
.icon {
  display: inline-block;
  width: 18px; /* Custom size for icons */
  height: 18px; /* Custom size for icons */
  vertical-align: middle; /* Align icons vertically in the middle */
  margin-right: 4px; /* Space between icon and text */
}

.iconText {
  display: inline; /* Keep text on the same line */
}

.allignContentTextAndIcon {
  white-space: nowrap; /* prevents text from going on new line */
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
}

.locationIcon {
  width: 14px;
  height: 18px;
  margin-right: 4px;
}

/* ------------------------ hyperlinks */

a {
  color: #5c8fff; /* Change this to your preferred color */
  text-decoration: none; /* Optional: Remove underline */
}